<h1 class="page-title">
	<a href ui-sref='proponent.project({id: ap.activity.projectId})' class='pull-right return-link'>Return to Activities</a>
	{{ ap.project.name }}
</h1>
<section id="project-view" class="container-fluid">
	<div class='row'>


		<div class='col-sm-9'>

			<tmpl-activity-detail x-detail="ap.activity"></tmpl-activity-detail>

		</div> <!-- /col9 -->
		
		
		<div class='col-sm-3'>
			<div class="panel panel-default project-info-panel">

				<div class='panel-heading'>
					<div><label class="control-label">Type</label><p>{{ ap.project.type }}</p></div>
					<div><label class="control-label">Location</label><p>{{ ap.project.region }}</p></div>
					<div><label class="control-label">Description</label><p>{{ ap.project.description }}</p></div>
					<div><small><a href><span class='glyphicon glyphicon-file'></span> Comprehensive Project Description</a></small></p></div>
					<div><small><a href x-modal-proponent-access x-project="ap.project"><span class='glyphicon glyphicon-user'></span> Configure Project Access</a></small></p></div>
				</div>
			
				<div class='panel-body'>
					<div><label class="control-label">Current Stage</label><p x-stage-colour x-stage="ap.project.stage">{{ ap.project.stage }}</p></div>
					<div><label class="control-label">Estimated Stage Completion</label><p>{{ ap.project.estimatedStageCompleteDate | amDateFormat:'MMM Do YYYY' }}</p></div>
					<div><label class="control-label">Next Stage</label><p x-stage-colour x-stage="ap.project.nextStage">{{ ap.project.nextStage }}</p></div>
					<div><small><a href x-modal-project-schedule x-project="ap.project"><span class='glyphicon glyphicon-calendar'></span> Estimated Project Schedule</a></small></div>
				</div>

				<div class='panel-footer'>
					<table class='table table-condensed small'>
						<thead>
							<tr>
								<th>Documents</th>
								<th class="text-right"><a href x-modal-document-viewer>View all</a></th>
							</tr>
						</thead>					
						<tbody class="clickable">
							<tr>
								<td class="document-cell">
									<a href ng-click="vm.documentViewer()"><span class='glyphicon glyphicon-folder-close'></span> A.I.R. Documents
								</td>
								<td class='text-right'>Feb. 4, 2003</td>
							</tr>
							<tr>
								<td class="document-cell">
									<a href ng-click="vm.documentViewer()"><span class='glyphicon glyphicon-folder-close'></span> Working Group Documents
								</td>
								<td class='text-right'>Mar. 4, 2004</td>
							</tr>
						</tbody>

					</table>
				</div>

			</div> <!-- /panel -->
		</div> <!-- /col3 -->

		
	</div> <!-- /row -->

</section>