<h1 class="page-title">
	<a href ui-sref='proponent.project({id: actBase.activity.projectId})' class='pull-right return-link'>Return to Activities</a>
	{{ actBase.project.name }}
</h1>
<section id="project-view" class="container-fluid">
	<div class='row'>


		<div class='col-sm-9'>

			<tmpl-proponent-activity-detail x-detail="actBase.activity"></tmpl-proponent-activity-detail>

		</div> <!-- /col9 -->
		
		
		<div class='col-sm-3'>

			<tmpl-project-tombstone-vertical x-project="actBase.project"></tmpl-project-tombstone-vertical>
		</div>
		
	</div> <!-- /row -->

</section>