<h1 class="page-title">
	<a href ui-sref='proponent.projects' class='pull-right return-link'>Return to Project List</a>
	{{ vm.project.name }}
</h1>
<section id="project-view" class="container-fluid">
	<div class='row'>


		<div class='col-sm-9'>

			<nav class="navbar navbar-default navbar-sm">
				<div class="container-fluid">

	
					<ul class="nav navbar-nav navbar-right">
						<li>
							<p class="navbar-text">Search</p>
						</li>
						<li>
							<form class="navbar-form" role="filter1">
								<div class="form-group">
									<input ng-model="vm.filterKeyword" type="text" class="form-control" placeholder="Search">
								</div>
							</form>
						</li>
					</ul>

				</div><!-- /.container-fluid -->
			</nav>

			<tmpl-activity-listing x-project="vm.project._id"></tmpl-activity-listing>

		</div> <!-- /col9 -->
		
		
		<div class='col-sm-3'>
			<div class="panel panel-default project-info-panel">

				<div class='panel-heading'>
					<div><label class="control-label">Type</label><p>{{ vm.project.type }}</p></div>
					<div><label class="control-label">Location</label><p>{{ vm.project.region }}</p></div>
					<div><label class="control-label">Description</label><p>{{ vm.project.description }}</p></div>
					<div><small><a href><span class='glyphicon glyphicon-file'></span> Comprehensive Project Description</a></small></p></div>
					<div><small><a href x-modal-proponent-access x-project="vm.project"><span class='glyphicon glyphicon-user'></span> Configure Project Access</a></small></p></div>
				</div>
			
				<div class='panel-body'>
					<div><label class="control-label">Current Stage</label><p x-stage-colour x-stage="vm.project.stage">{{ vm.project.stage }}</p></div>
					<div><label class="control-label">Estimated Stage Completion</label><p>{{ vm.project.estimatedStageCompleteDate | amDateFormat:'MMM Do YYYY' }}</p></div>
					<div><label class="control-label">Next Stage</label><p x-stage-colour x-stage="vm.project.nextStage">{{ vm.project.nextStage }}</p></div>
					<div><small><a href x-modal-project-schedule x-project="vm.project"><span class='glyphicon glyphicon-calendar'></span> Estimated Project Schedule</a></small></div>
				</div>

				<div class='panel-footer'>
					<table class='table table-condensed small'>
						<thead>
							<tr>
								<th>Documents</th>
								<th class="text-right"><a href x-modal-document-viewer>View all</a></th>
							</tr>
						</thead>					
						<tbody class="clickable">
							<tr>
								<td class="document-cell">
									<a href ng-click="vm.documentViewer()"><span class='glyphicon glyphicon-folder-close'></span> Pre-Application
								</td>
								<td class='text-right'>Feb. 4, 2003</td>
							</tr>
							<tr>
								<td class="document-cell">
									<a href ng-click="vm.documentViewer()"><span class='glyphicon glyphicon-folder-close'></span> Under Review
								</td>
								<td class='text-right'>Mar. 4, 2004</td>
							</tr>
							<tr>
								<td class="document-cell">
									<a href ng-click="vm.documentViewer()"><span class='glyphicon glyphicon-folder-close'></span> Certificate Issued
								</td>
								<td class='text-right'>June. 9, 2004</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div> <!-- /panel -->
		</div> <!-- /col3 -->

		
	</div> <!-- /row -->

</section>