<h1 class="page-title">
	<a href ui-sref='proponent.projects' class='pull-right return-link'>Return to Project List</a>
	{{ vm.project.name }}
</h1>
<section id="project-view" class="container-fluid">
	<div class='row'>

		<div class='col-sm-3'>
			<div class="panel panel-default project-info-panel">
				<div class='panel-heading'>
					<p><strong>Developer</strong>: {{ vm.project.developer }}</p>
					<p><strong>Type</strong>: {{ vm.project.type }}</p>
					<p><strong>Location</strong>: {{ vm.project.region }}</p>
					<p><strong>Current Status</strong>: {{ vm.project.status }}</p>
					<p><strong>Description</strong>:<br/>{{ vm.project.description }}</p>
					<p><small><a href><span class='glyphicon glyphicon-file'></span> Comprehensive Project Description</a></small></p>
				</div>

				<div class="location-map">

					<map center="{{ vm.project.lat }},{{ vm.project.long }}" zoom="5" map-type-id="SATELLITE" street-view-control='false' min-zoom=5 disable-default-u-i="true">
						<marker id="marker_{{ vm.project._id }}" position="{{ vm.project.lat }},{{ vm.project.long }}"></marker>
					</map>

				</div>
				
				<div class='panel-body'>
				
					<table class='table table-condensed small'>
						<thead>
							<tr>
								<th>Documents</th>
								<th class="text-right"><a href x-modal-document-viewer>View all</a></th>
							</tr>
						</thead>					
						<tbody class="clickable">
							<tr>
								<td class="document-cell">
									<a href ng-click="vm.documentViewer()"><span class='glyphicon glyphicon-folder-close'></span> Pre-Application
								</td>
								<td class='text-right'>Feb. 4, 2003</td>
							</tr>
							<tr>
								<td class="document-cell">
									<a href ng-click="vm.documentViewer()"><span class='glyphicon glyphicon-folder-close'></span> Under Review
								</td>
								<td class='text-right'>Mar. 4, 2004</td>
							</tr>
							<tr>
								<td class="document-cell">
									<a href ng-click="vm.documentViewer()"><span class='glyphicon glyphicon-folder-close'></span> Certificate Issued
								</td>
								<td class='text-right'>June. 9, 2004</td>
							</tr>
						</tbody>
					</table>


				</div>
			</div>
		</div>


		<div class='col-sm-9'>
			<div class="panel panel-default">
				<table class='table table-condensed small'>	
					<thead>
						<tr>
							<th class="text-center" colspan="6">
								<div class="progress-info-button pull-right clickable" ng-click="progressInfo = !progressInfo"><span class='glyphicon glyphicon-question-sign'></span></div>
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ vm.project.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ vm.project.progress }}%;">
										Estimated Completion: {{ vm.project.progress }}% 
									</div>
								</div>

								<div ng-show="progressInfo" class="alert alert-info progress-alert-box">
									<p><strong>Why is this an estimate?</strong></p>
									<p>At any stage in our process, new information could be introduced that requires investigation.  This takes time and the project dates are adjusted to reflect this.</p>
								</div>								
							</tr>
						</tr>
						<tr>
							<th>Milestone</th>
							<th class='text-center'>Started</th>
							<th class='text-center'>Estimated Completion</th>
							<th class='text-center'>Completed</th>
							<th class='text-center'></th>
							<th class='text-center'></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ms in vm.project.schedule" ng-class="{'success': !!ms.completed}">
							<td>{{ ms.milestone }}</td>
							<td class='text-center'>{{ ms.start }}</td>
							<td class='text-center'>{{ ms.target }}</td>
							<td class='text-center'>{{ ms.completed }}</td>
							<td class='text-center'><span class='glyphicon' ng-class="{'glyphicon-ok': !!ms.completed, 'glyphicon-minus': !ms.completed}"></span></td>
							<td>{{ ms.note }}</td>
						</tr>
					
					</tbody>
				</table>
			</div>

			<nav class="navbar navbar-default bg-info">
				<div class="container-fluid">

					<ul class="nav navbar-nav navbar-left">
						<li>
							<p class="navbar-text">Concerns: 6</p>
						</li>
						<li>
							<p class="navbar-text">Closed: 1</p>
						</li>
						<li>
							<p class="navbar-text">Open: 5</p>
						</li>

					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li>
							<p class="navbar-text">Search</p>
						</li>
						<li>
							<form class="navbar-form" role="filter1">
								<div class="form-group">
									<input ng-model="vm.filterKeyword" type="text" class="form-control" placeholder="Search">
								</div>
							</form>
						</li>
					</ul>

				</div><!-- /.container-fluid -->
			</nav>



			<div ng-repeat="point in vm.project.discussionPoints | filter:vm.filterKeyword" class="concern-list">
				<h3 ng-click='form[point.group] = !form[point.group]' class="clickable concern-heading">
					<div class='pull-right small'>
						<span class='label label-default'>Concerns: {{ point.concerns.length }}</span>&nbsp;<span class='label label-success'>Closed: {{ vm.closedConcerns(point.concerns) }}</span>&nbsp;<span class='label label-primary'>Open: {{ vm.openConcerns(point.concerns) }}</span>
					</div>
					{{ point.group }}
				</h3>
				<hr ng-if='!form[point.group] && !$last'>

				<div class="panel panel-default panel-concern" ng-if='form[point.group]' ng-repeat='item in point.concerns'>
					<div class="panel-body">
						<div class="clearfix">
						<h4 class='pull-right no-margins'><span class='label' ng-class="{'label-success':item.status === 'Closed', 'label-primary':item.status === 'Open'}">{{ item.status }}</span></h4>
						<p>{{ item.description }}</p>
						</div>
<!-- 
						<ul class="contact-list">
							<li ng-repeat="contact in item.referredTo"><span class="label label-default" ng-click="vm.filter[point.group + 'concern' + item._id] = contact.name" ng-class="{'label-success clickable': !!contact.dateReplied && vm.filter[point.group + 'concern' + item._id] !== contact.name, 'label-warning clickable':  vm.filter[point.group + 'concern' + item._id] === contact.name}" title='Most Recent Reply: {{ contact.dateReplied || "None" }}'>{{ contact.name }}</span></li>
							<li><span class="label label-primary clickable" ng-click="vm.filter[point.group + 'concern' + item._id] = ''">All</span></li>
						</ul> 
 -->

						<div class="table-responsive">

							<table class="table table-condensed table-striped table-bordered">
								<thead>
									<tr>
										<th colspan="3">
											<abbr title="Application Information Requirements">A.I.R.</abbr> Comments
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="comment in filteredComments[item._id] = (item.comments | filter:{'name': vm.filter[point.group + 'concern' + item._id]})" ng-show="filteredComments[item._id].length > 0">
										<td width="20%">
											<strong>{{ comment.name }}</strong><br/>{{ comment.dateEntered }}
										</td>
										<td>
											{{ comment.comment }}
										</td>
										<td width="20%" class="small document-cell">
											<a href><span class='glyphicon glyphicon-file'></span> Proponent's Response</a>
										</td>										
									</tr>
									<tr ng-show="filteredComments[item._id].length === 0">
										<td colspan='3'>No response from {{ vm.filter[point.group + 'concern' + item._id] }}</td>
									</tr>
								</thead>
							</table>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>