<section>
    <hr>
    <div class="row">
        <div class="col-sm-7">
            <table class="table table-condensed table-striped table-hover">
                <thead class="small">
                <th width="11%">Code</th>
                <th width="11%">Name</th>
                <th width="11%">Description</th>
                <th width="11%">Activity</th>
                <th width="11%">Status</th>
                <th width="11%">Process Code</th>
                <th width="11%">Prerequisites</th>
                <th width="11%">Requirement</th>
                <th width="11%">Statuses</th>
                </thead>
                <tbody>
                <tr ng-repeat="stream in configDataElement.records" ng-click='configDataElement.editRecord(stream)' class="clickable">
                    <td>{{ stream.code }}</td>
                    <td>{{ stream.name }}</td>
                    <td>{{ stream.description }}</td>
                    <td>{{ stream.activity }}</td>
                    <td>{{ stream.status }}</td>
                    <td>{{ stream.processCode }}</td>
                    <td><span ng-repeat="prerequisite in stream.prerequisites"><span ng-if="!$first">,&nbsp;</span>{{ prerequisite }}</span></td>
                    <td>{{ stream.requirement }}</td>
                    <td><span ng-repeat="status in stream.statuses"><span ng-if="!$first">,&nbsp;</span>{{ status }}</span></td>
                </tr>
                <tr ng-if="configDataElement.records.length === 0">
                    <td colspan="9">No streams defined.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-5">
            <div class="well">
                <h4 ng-if="configDataElement.msg">{{configDataElement.msg}}</h4>

                <div ng-show="!configDataElement.activeRecord">Select an item in the table or <a href ng-click="configDataElement.newRecord()">click here</a> to create a new one.</div>

                <div ng-show="configDataElement.activeRecord">

                    <div class="form-group">
                        <label class="control-label">Code</label>
                        <input class="form-control" type="text" ng-model="configDataElement.activeRecord.code">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" type="text" ng-model="configDataElement.activeRecord.name">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" ng-model="configDataElement.activeRecord.description">{{ configDataElement.activeRecord.description }}</textarea>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Activity</label>
                        <select class="form-control" ng-model="configDataElement.activeRecord.activity">
                            <option value="">---Please select ---</option>
                            <option value="this">this</option>
                            <option value="that">that</option>
                            <option value="the other">the other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Status</label>
                        <select class="form-control" ng-model="configDataElement.activeRecord.status">
                            <option value="">---Please select ---</option>
                            <option value="this">this</option>
                            <option value="that">that</option>
                            <option value="the other">the other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Process Code</label>
                        <select class="form-control" ng-model="configDataElement.activeRecord.processCode">
                            <option value="">---Please select ---</option>
                            <option value="this">this</option>
                            <option value="that">that</option>
                            <option value="the other">the other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Prerequisites</label>
                        <a href x-modal-select-items x-all-items="configDataElement.config.prerequisites" x-selected-items="configDataElement.activeRecord.prerequisites" x-item-name="Prerequisites">

                            <span ng-if="configDataElement.activeRecord.prerequisites.length === 0 || !configDataElement.activeRecord.prerequisites">Click here to select</span>

                            <span ng-repeat="prerequisite in configDataElement.activeRecord.prerequisites"><span ng-if="!$first">,&nbsp;</span>{{ prerequisite }}</span>
                        </a>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Requirement</label>
                        <select class="form-control" ng-model="configDataElement.activeRecord.requirement">
                            <option value="">---Please select ---</option>
                            <option value="this">this</option>
                            <option value="that">that</option>
                            <option value="the other">the other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Statuses</label>
                        <a href x-modal-select-items x-all-items="configDataElement.config.statuses" x-selected-items="configDataElement.activeRecord.statuses" x-item-name="Statuses">

                            <span ng-if="configDataElement.activeRecord.statuses.length === 0 || !configDataElement.activeRecord.statuses">Click here to select</span>

                            <span ng-repeat="status in configDataElement.activeRecord.statuses"><span ng-if="!$first">,&nbsp;</span>{{ status }}</span>
                        </a>
                    </div>


                    <div class="form-group" ng-if="configDataElement.activeRecordNew">
                        <button class="btn btn-primary" ng-click="configDataElement.addRecord()">Add</button>
                    </div>

                    <div ng-if="!configDataElement.activeRecordNew">
                        <button class="btn btn-primary" ng-click="configDataElement.saveRecord()">Save</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


