<section>
	<hr>
	<div class="row">

		<div class="col-sm-7">

			<table class="table table-condensed table-striped table-hover">
				<thead class="small">
					<th width="10%">Code</th>
					<th width="10%">Name</th>
					<th width="10%">Description</th>
					<th width="10%">Type</th>
					<th width="10%">Stream</th>
					<th width="10%">Phase</th>
					<th width="10%">Activity</th>
					<th width="10%">Task</th>
					<th width="10%">Milestone</th>
					<th width="10%">Bucket</th>					
				</thead>
				<tbody>
					<tr ng-repeat="req in configDataElement.records" ng-click='configDataElement.editRecord(req)' class="clickable">
						<td>{{ req.code }}</td>
						<td>{{ req.name }}</td>
						<td>{{ req.description }}</td>
						<td>{{ req.type }}</td>
						<td>{{ req.stream }}</td>
						<td>{{ req.phase }}</td>
						<td>{{ req.activity }}</td>
						<td>{{ req.task }}</td>
						<td>{{ req.milestone }}</td>
						<td>{{ req.bucket }}</td>
					</tr>
					<tr ng-if="configDataElement.records.length === 0">
						<td colspan="10">No requirements defined.</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div class="col-sm-5">
			<div class="well">

				<h4 ng-if="configDataElement.msg">{{configDataElement.msg}}</h4>

				<div ng-show="!configDataElement.activeRecord">Select an item in the table or <a href ng-click="configDataElement.newRecord()">click here</a> to create a new one.</div>

				<div ng-show="configDataElement.activeRecord">
					<div class="form-group">
						<label class="control-label">Code</label>
						<input class="form-control" type="text" ng-model="configDataElement.activeRecord.code">
					</div>
					<div class="form-group">
						<label class="control-label">Name</label>
						<input class="form-control" type="text" ng-model="configDataElement.activeRecord.name">
					</div>
					<div class="form-group">
						<label class="control-label">Description</label>
						<input class="form-control" type="text" ng-model="configDataElement.activeRecord.description">
					</div>

					<div class="form-group">
						<label class="control-label">Type</label>
						<input class="form-control" type="text" ng-model="configDataElement.activeRecord.type">
					</div>


					<div class="form-group">
						<label class="control-label">Stream</label>
						<a href x-modal-select-items x-all-items="configDataElement.config.streams" x-single='true' x-selected-items="configDataElement.activeRecord.stream" x-item-name="Streams">
							
							<span ng-if="configDataElement.activeRecord.stream === ''">Click here to select</span>
							<span ng-if="configDataElement.activeRecord.stream !== ''">{{ configDataElement.activeRecord.stream }}</span>
						</a>
					</div>

					<div class="form-group">
						<label class="control-label">Phase</label>
						<a href x-modal-select-items x-all-items="configDataElement.config.phases" x-single='true' x-selected-items="configDataElement.activeRecord.phase" x-item-name="Phases">
							
							<span ng-if="configDataElement.activeRecord.phase === ''">Click here to select</span>
							<span ng-if="configDataElement.activeRecord.phase !== ''">{{ configDataElement.activeRecord.phase }}</span>
						</a>
					</div>

					<div class="form-group">
						<label class="control-label">Activity</label>
						<a href x-modal-select-items x-all-items="configDataElement.config.activities" x-single='true' x-selected-items="configDataElement.activeRecord.activity" x-item-name="Activity">
							
							<span ng-if="configDataElement.activeRecord.activity === ''">Click here to select</span>
							<span ng-if="configDataElement.activeRecord.activity !== ''">{{ configDataElement.activeRecord.activity }}</span>
						</a>
					</div>

					<div class="form-group">
						<label class="control-label">Task</label>
						<a href x-modal-select-items x-all-items="configDataElement.config.tasks" x-single='true' x-selected-items="configDataElement.activeRecord.task" x-item-name="Task">
							
							<span ng-if="configDataElement.activeRecord.milestone === ''">Click here to select</span>
							<span ng-if="configDataElement.activeRecord.milestone !== ''">{{ configDataElement.activeRecord.task }}</span>
						</a>
					</div>


					<div class="form-group">
						<label class="control-label">Milestone</label>
						<a href x-modal-select-items x-all-items="configDataElement.config.milestones" x-single='true' x-selected-items="configDataElement.activeRecord.milestone" x-item-name="Milestone">
							
							<span ng-if="configDataElement.activeRecord.milestone === ''">Click here to select</span>
							<span ng-if="configDataElement.activeRecord.milestone !== ''">{{ configDataElement.activeRecord.milestone }}</span>
						</a>
					</div>

					<div class="form-group">
						<label class="control-label">Bucket</label>
						<a href x-modal-select-items x-all-items="configDataElement.config.buckets" x-single='true' x-selected-items="configDataElement.activeRecord.bucket" x-item-name="Bucket">
							
							<span ng-if="configDataElement.activeRecord.bucket === ''">Click here to select</span>
							<span ng-if="configDataElement.activeRecord.bucket !== ''">{{ configDataElement.activeRecord.bucket }}</span>
						</a>
					</div>

					
					<div class="form-group" ng-if="configDataElement.activeRecordNew">
						<button class="btn btn-primary" ng-click="configDataElement.addRecord()">Add</button>
					</div>

					<div ng-if="!configDataElement.activeRecordNew">
						<button class="btn btn-primary" ng-click="configDataElement.saveRecord()">Save</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>