<div class="panel panel-default">
	<div class="panel-heading">
		Public Comments Vetting: {{ taskPubComVet.task.name }} <em class="small">{{ taskPubComVet.task.currentStatusTitle }}</em>
	</div>
	<div class="panel-body">

		<!-- COMMENT -->
		<div ng-if="taskPubComVet.data.showComment">
			<h3>Comment</h3>
			<div class="form-group">
				<label class="control-label">Author</label>
				<p>{{ taskPubComVet.data.comment.author }}</p>
			</div>
			<div class="form-group">
				<label class="control-label">Date</label>
				<p>{{ taskPubComVet.data.comment.date }}</p>
			</div>
			<div class="form-group">
				<label class="control-label">Comment</label>
				<p>{{ taskPubComVet.data.comment.text }}</p>
			</div>

			<div class="text-right">
				<button class="btn btn-danger" ng-click="flagComment()"><span class="glyphicon glyphicon-flag"></span> Inappropriate</button>
				<button class="btn btn-success" ng-click="vetComment()"><span class="glyphicon glyphicon-ok"></span> OK</button>
			</div>
			<hr>
		</div>

		<!-- INAPPROPRIATE COMMENT FORM -->

		<div ng-if="taskPubComVet.data.showInappropriateCommentForm">
			<h3>Inappropriate Comment</h3>
			<div class="form-group">
				<label class="control-label">Coment</label>
				<textarea class="form-control" ng-model="taskPubComVet.data.comment.text"></textarea>
			</div>
			<div class="text-right">
				<button class="btn btn-success" ng-click="vetComment()"><span class="glyphicon glyphicon-ok"></span> Accept Edit</button>
				<button class="btn btn-danger" ng-click="deleteComment()"><span class="glyphicon glyphicon-trash"></span> Delete Comment</button>
			</div>
		</div>


	</div>
</div>
