<div class="panel panel-default">
	<div class="panel-heading">
		{{ taskPubComVet.item.title }} {{ taskPubComVet.item.value}}
	</div>
	<div class="panel-body">

		<!-- START/END DATE -->
		<div class="well well-sm">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label">Start Date</label>
						<input type="date" class="form-control" ng-model="taskPubComVet.data.startDate"/>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="control-label">End Date</label>
						<input type="date" class="form-control" ng-model="taskPubComVet.data.endDate"/>
					</div>
				</div>
			</div>
		</div>

		<!-- SCOPE/TOPIC TABLE -->
		<div class="row">
				<div class="col-md-12">
					<p class="lead">Scope/Topic</p>
					<table class="table table-condensed">
						<thead>
						<tr>
							<th>Table Head</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="(key,value) in taskPubComVet.data.scopeTopics">
							<td>{{ value }}</td>
						</tr>
						<tr ng-if="!taskPubComVet.data.showScopeTopicAddButton">
							<td>
								<div class="form-group">
								<textarea class="form-control" ng-model="taskPubComVet.data.newScopeTopic"></textarea>
								</div>
								<div class="text-right">
									<button class="btn btn-success" ng-click="addRowToScopeTopics()">OK</button>
									<button class="btn btn-default" ng-click="taskPubComVet.data.showScopeTopicAddButton=true">Cancel</button>
								</div>
							</td>
						</tr>
						<tr ng-if="taskPubComVet.data.showScopeTopicAddButton">
							<td><button class="btn btn-success pull-right" ng-click="taskPubComVet.data.showScopeTopicAddButton=false">Add</button></td>
						</tr>
						</tbody>
					</table>
				</div>
		</div>

		<!-- IMPORTANT DATES -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<p class="lead">Important Dates</p>
					<table class="table table-condensed">
						<thead>
						<tr>
							<th>Task</th>
							<th>Date</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="(key,value) in taskPubComVet.data.importantDates">
							<td>{{ value[0] }}</td>
							<td>{{ value[1] }}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- OPEN HOUSE -->
		<div class="row">
			<div class="form-group">
				<div class="col-md-12" ng-if="1 == 1"><!-- if EAO user... -->
					<p class="lead">Open House</p>
					<div class="well well-sm">
						<div class="row">
							<div class="col-md-6">

								<div class="form-group">
									<label class="control-label">Date/Time</label>
									<datetimepicker ng-model="taskPubComVet.data.openHouseDate" data-datetimepicker-config="{}"/>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label class="control-label">Location</label>
									<textarea class="form-control" ng-model="taskPubComVet.data.openHouseLocation"></textarea>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
