<!-- expand/collapse behavior adapted from https://github.com/angular-ui/bootstrap/blob/master/misc/demo/index.html -->
<nav class="navbar navbar-fixed-top navbar-custom">
    <div class="container-fluid">

		<div class="col-sm-9">
			<div class="navbar-header">
				<a class="navbar-brand" ui-sref="default"><img src="images/eao-logo.png" height="40" width="248"/></a>
			</div>

			<ul class="nav navbar-nav" ng-if="false">
				<li ui-sref-active="active">
					<a ui-sref="default">Dashboard</a>
				</li>
			</ul>
		</div>        

		<div class="col-sm-3">
			<ul class="nav navbar-nav navbar-right" ng-if="tn.user.type !== 'Public'">
				<li class="text-right navbar-user">
					<a ui-sref="user.profile">{{ tn.user.name }}</a><br/>
					<div class="small">
						<a x-modal-alert-viewer x-user="tn.user" class="text-danger"></a><a ui-sref="user.profile">Profile</a>&nbsp;|&nbsp;<a ui-sref="default">Logout</a>
					</div>
				</li>
				<li class="text-right navbar-user navbar-user-icon">
					<a ui-sref="user.profile"><i class="glyphicon glyphicon-user"></i></a><br/>
				</li>

			</ul>
		</div>
        
    </div>
</nav>
