<div class="modal-header">
	<h3 class="modal-title">Select {{ selectItems.itemName }}</h3>
</div>
<div class="modal-body">
	<div class="row">

		<div class="col-sm-6">
		
			<label class="control-label">{{ selectItems.itemName }}</label>
			<div class="well well-sm">
				<ul class="list-unstyled task-list">
					<li ng-repeat="aItem in selectItems.itemList track by $index">
						<button class="btn btn-block btn-sm btn-layer" ng-click="selectItems.addItemToSelection(aItem)">{{ aItem }}</button>
					</li>
					<li ng-if="selectItems.itemList.length === 0" class="small">
						No {{ selectItems.itemName }} defined.
					</li>
				</ul>
			</div>

		</div>
		<div class="col-sm-6">
		
			<label class="control-label">Selected {{ selectItems.itemName }}</label>
			<div class="well well-sm">
				<ul class="list-unstyled task-list">
					<li ng-repeat="item in selectItems.selectedItems track by $index">
						<button class="btn btn-block btn-sm btn-layer" ng-click="selectItems.removeItemFromSelection($index)">{{ item }}</button>
					</li>
					<li ng-if="selectItems.selectedItems.length === 0" class="small">
						No {{ selectItems.itemName }} selected.
					</li>
				</ul>
			</div>
		
		</div>

	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="selectItems.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="selectItems.ok()">Save</button>
</div>
