<div class="modal-header">
	<h3 class="modal-title">Select Users</h3>
</div>
<div class="modal-body">
	<div class="row">

		<div class="col-sm-6">
			<label class="control-label">Project Contacts</label>
			<p>
				<select class="form-control input-sm" ng-model="utilUsers.form.filteredUsers" ng-options="role for role in utilUsers.roles">
					<option value>All</option>
				</select>
			</p>
			<div class="well well-small">
				<ul class="list-unstyled task-list">
					<li ng-repeat="user in usersFiltered = (utilUsers.users | filter:{role: (utilUsers.form.filteredUsers || undefined)})">
						<button class="btn btn-block btn-sm btn-layer" ng-click="utilUsers.addUserToSelected(user)" x-dynamic-class-when="utilUsers.inSelected(user)" x-dynamic-class="btn-primary">{{ user.name }} <em class="small">{{ user.role }}</em></button>
					</li>
					<li ng-if="usersFiltered.length === 0" class="small">
						No users match {{ utilUsers.form.filtered }}
					</li>
				</ul>
			</div>

		</div>
		<div class="col-sm-6">
			<label class="control-label">Selected</label>
			<p>
				<select class="form-control input-sm" ng-model="utilUsers.form.filteredSelected" ng-options="role for role in utilUsers.roles">
					<option value>All</option>
				</select>
			</p>
			<div class="well well-small">
				<ul class="list-unstyled task-list">
					<li ng-repeat="user in selectedFiltered = (utilUsers.selected | filter:{role: (utilUsers.form.filteredSelected || undefined)})">
						<button class="btn btn-block btn-sm btn-layer" ng-click="utilUsers.removeUserFromSelected(user)">{{ user.name }} <em class="small">{{ user.role }}</em></button>
					</li>
					<li ng-if="selectedFiltered.length === 0" class="small">
						Select users on the left.
					</li>
				</ul>
			</div>
		
		</div>

	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="utilUsers.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="utilUsers.ok()">Close</button>
</div>
