<div class="panel"
		ng-class="{
			'panel-success': ad.activity.valueComponents, 'panel-info': !ad.activity.valueComponents
		}">
	<div class="panel-heading">
		<div class="label pull-right" ng-class="{'label-success':ad.activity.status === 'Closed', 'label-primary':ad.activity.status === 'Open'}">Open</div>
		<h3 class="panel-title">{{ ad.activity.name }}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-8">
				{{ ad.activity.description }}
			</div>
			<div class="col-sm-4">
				<div><label class="control-label">Last Updated</label><p>{{ ad.activity.updatedDate | amDateFormat:'MMM Do, YYYY h:mm a' }}</p></div>
			</div>
		</div>
		<hr/>
	</div>
	
	
</div> <!-- /panel -->