<div class="panel panel-default">
	<div class="panel-heading">
		{{ taskCps.item.title }} {{ taskCps.item.value}}
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6"><label>Start Date</label><br><input type="date"/></div>
			<div class="col-sm-6"><label>End Date</label><br><input type="date"/></div>
			<div class="col-md-12">
				<table class="table">
					<thead>
					<tr>
						<th>Scope</th>
						<th>Topic</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Value</td>
						<td>Value</td>
					</tr>
					<tr>
						<td>Value</td>
						<td>Value</td>
					</tr>
					<tr>
						<td colspan="2"><button class="btn btn-success pull-right">Add</button></td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<label>Important Dates</label>
				<table class="table">
					<thead>
					<tr>
						<th>Task</th>
						<th>Date</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>Post Ad</td>
						<td>[start-7days]</td>
					</tr>
					<tr>
						<td>Provide Info</td>
						<td>[start-7days]</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-12">
				<label>Open House</label>
				<dl class="dl-horizontal">
					<dt>Date/Time</dt>
					<dd>[datetime]</dd>
					<dt>Location</dt>
					<dd>[address]</dd>
				</dl>
			</div>
		</div>
	</div>
</div>
