<section class='panel panel-default'>
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th><small>Project</small></th>
				<th><small>Region</small></th>
				<th><small>Phase</small></th>
				<th><small>Est. Progress</small></th>
			</tr>
		</thead>	
		<tbody>
			<tr ng-click="pl.goToProject( project._id );" ng-repeat="project in filteredProjects = (pl.projects | filter:vm.filterKeyword | filter:vm.filterObject)" ng-if='filteredProjects.length > 0' class='clickable'>
				<td>{{ project.name }}</td>
				<td>{{ project.region }}</td>
				<td>{{ project.phase }}</td>
				<td>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.progress }}%;">
							{{ project.progress }}%
						</div>
					</div>
				</td>
			</tr>
			<tr ng-if="filteredProjects.length === 0">
				<td colspan="4">No projects match your filter criteria.</td>
			</tr>
		</tbody>
	</table>
</section>