<div>
	<ul class="list-unstyled task-list">
		<li ng-repeat="(itemId, item) in actTasks.tasks">
			<button
				class="btn btn-sm btn-block clearfix btn-task-indicator btn-task-{{ item.currentStatusTitle | kebab }}" 
				ng-click="actTasks.taskChange(item, actTasks.project, $event)"
				ng-class="{'task-selected': actTasks.form.currentTask === 'task-' + ( item._id | kebab )}">

				<div>{{ item.name }}</div>
				<div class="task-current-status">{{ item.currentStatusTitle }}</div>
			</button>
		</li>
	</ul>
	
</div>
<div>
	<ul class="list-unstyled">
		<li><label class="control-label">
			Click to Select<br/>Shift+Click to change progress<br/>Alt+Click for Not Applicable
		</label></li>
	</ul>
</div>
