<div class="modal-header">
	<h3 class="modal-title">Project Access</h3>
</div>
<div class="modal-body">


	<div class="row">	
		<div class="col-sm-12">
		
			<nav class="navbar navbar-default navbar-sm">
				<div class="container-fluid">


					<ul class="nav navbar-nav navbar-left">
						<li class="btn-group btn-group-sm navbar-btn">
							<button class="btn btn-default" ng-disabled="pa.invite" ng-click="pa.filter.accepted = false"	ng-class="{'btn-primary': pa.filter.accepted === false}">Pending</button>
							<button class="btn btn-default" ng-disabled="pa.invite" ng-click="pa.filter.accepted = true"	ng-class="{'btn-primary': pa.filter.accepted === true}">Accepted</button>
							<button class="btn btn-default" ng-disabled="pa.invite" ng-click="pa.filter.accepted = null"	ng-class="{'btn-primary': pa.filter.accepted === null}">All</button>
						<li>
						<li>
							<p class="navbar-text">Contacts: {{ pa.contacts.length || 0 }}</p>
						</li>
						<li class="btn-group btn-group-sm navbar-btn">
							<button class="btn btn-default" ng-click="pa.invite = !pa.invite" ng-class="{'btn-success': pa.invite}">Invite New</button>
						<li>
					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li>
							<p class="navbar-text">Search</p>
						</li>
						<li>
							<form class="navbar-form" role="filter1">
								<div class="form-group">
									<input ng-model="pa.filterKeyword" type="text" ng-disabled="pa.invite" class="form-control" placeholder="Search">
								</div>
							</form>
						</li>
					</ul>

				</div><!-- /.container-fluid -->
			</nav>
		</div>
	</div> <!-- /row -->

	<div class="row" ng-if="pa.invite">
		<div class="col-sm-8 col-md-offset-2">
			<div class="well well-sm">
				<h3>Send Invitation To</h3>

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="title" class="control-label">Name</label>
							<input id="title" type="text" class="form-control input-sm" ng-model="pa.newContact.name">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="title" class="control-label">Title</label>
							<input id="title" type="text" class="form-control input-sm" ng-model="pa.newContact.title">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="title" class="control-label">Email</label>
							<input id="title" type="text" class="form-control input-sm" ng-model="pa.newContact.email">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="type" class="control-label">Role</label>
							<select ng-model='pa.newContact.role' class="form-control input-sm" ng-options="type as type for type in pa.userTypes"></select>
						</div>
					</div>				
					<div class="col-md-3">
						<div class="form-group" class="control-label">
							<label for="title" class="control-label">Phone</label>
							<input id="title" type="text" class="form-control input-sm" ng-model="pa.newContact.phone">
						</div>				
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-sm-12 text-center">
						<button class="btn btn-success" ng-click="pa.inviteUser()">Send Invitation</button>
					</div>
				</div>
			</div> <!-- /well -->
		</div>
	</div>

	<div class="row" ng-if="!pa.invite">
		<div class="col-md-12">
			<panel-sort x-fields="pa.panelSort" x-data="pa.contacts" ></panel-sort>
		
			<div class="panel" ng-repeat="contact in filteredContacts = ( pa.contacts | filter: pa.filterKeyword | filter: pa.filterAccepted() )" ng-class="(contact.accepted) ? 'panel-success' : 'panel-warning'">
				<div class="panel-heading">
					<div class="pull-right">
						<a href ng-click='editContact()'><span class="glyphicon glyphicon-pencil"></span></a>
						<a href ng-click='removeContact()'><span class="glyphicon glyphicon-remove"></span></a>						
					</div>
					<h3 class="panel-title clickable" ng-click="pa.toggle[contact._id] = !pa.toggle[contact._id]">{{ contact.name }} <small><em>{{ contact.role }}: {{ contact.title }}</em></small></h3>
				</div>
				<div class="panel-body" ng-if="pa.toggle[contact._id]">
					<div class='row'>
						<div class="col-sm-4">				
							<div><label class="control-label">Email</label>{{ contact.email }}</div>
						</div>
						<div class="col-sm-4">
							<div><label class="control-label">Phone</label>{{ contact.phone }}</div>
						</div>
						<div class="col-sm-4">
							<div><label class="control-label">Accepted On</label>{{ contact.phone }}</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default" ng-if="pa.contacts.length === 0">
				<div class="panel-body">
					There are no contacts defined.  Send an invitation to add one.
				</div>
			</div>	
			
			<div class="panel panel-default" ng-if="filteredContacts.length === 0 && pa.contacts.length > 0">
				<div class="panel-body">
					No contacts match your search.
				</div>
			</div>	
			
			
		
		</div>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="pa.cancel()">Close</button>
</div>
