/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 0px;
}
body {
	background-color: transparent;
}
a:hover,
a:link,
a:active,
a:visited {
	text-decoration: none;
}
html {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
	min-height: 100%;
}

a:hover {
	text-decoration: none;
}
.has-navigation {
    padding-top: 50px;
}
/* Remove border to delete the 1px line */
.navbar-fixed-top {
    border: 0;
}

/* Workaround for unwanted route changes due to empty href attributes - see http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a, .clickable { cursor: pointer; }

h1.page-title {
	padding: 15px;
	background-color: $header-blue;
	color: #fff;
	text-shadow: 3px 3px 10px #000000;
	margin-top: 0;
	margin-bottom: 20px;
}
.modal-header {
	background-color: $header-blue;
	color: #fff;
	text-shadow: 3px 3px 10px #000000;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
th > .progress {
	margin-bottom: 0;
}

button:focus, a:focus {
	outline:0 !important;
}

.project-info-panel .location-map {
	margin: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;	
}

.project-info-panel .location-map map {
	height: 200px;
}

.project-info-panel .progress {
	margin-bottom: 10px;
}

.project-info-panel > .panel-heading {
	padding-bottom: 0;
}
.panel label + p,
.panel label + ul {
	margin-bottom: 15px;
}
a.return-link {
	text-decoration: none;
	font-size: 14px;
	color: #fff;
}

a.return-link:hover {
	text-decoration: none;
}

.panel-concern .panel-body > h3 {
	margin-top: 0;
}

.concern-list > h3:first-child {
	margin-top: 0;
}

h3 .small {
	padding-top: 10px;
	font-size: 60%;
}

h3 .small .label {
	font-weight: 500;
}



.label-list,
.panel-sort {
	list-style-type: none;
	padding-left: 0;
}
.label-list li,
.panel-sort li {
	display: inline-block;
}
.label-list li {
	margin-bottom: 3px;
	margin-right: 3px;
}
.panel-sort li {
	font-size: 80%;
	color: #fff;
}
.panel-sort li a {
	padding: 0 5px;
	color: #fff;
}
.panel-sort li:before {
	content: '|';	
}
.panel-sort li:first-child:before {
	content: '';	
}

.panel-sort li.asc a span:after {
	content: '\0020\25B2';
}

.panel-sort li.desc a span:after {
	content: "\0020\25BC";
}

.modal .panel-sort li {
	color: #777;
}
.modal .panel-sort li a {
	color: #777;
}



.panel-heading .label {
	font-size: 12px;
}





.document-cell a {
	position: relative;
	display: block;
	padding-left: 18px;
}

.document-cell a span {
	position: absolute;
	top : 2px;
	left : 0;
}

.document-cell a:hover {
	text-decoration: none;
}

.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}

.table-no-head > tbody > tr:first-child > td {
	border-top: none;
}

.no-margins {
	margin: 0;
}
th .progress-bar {
	font-weight: 500;
}
.progress-alert-box {
	margin-top: 15px;
	text-align: left;
	font-weight: 500;
}

.progress-info-button {
	padding-top: 1px;
	padding-left: 7px;
}
.concern-heading {
	color: #f4f4f4;
}

.panel-project-summary h3 {
	margin-top: 2px;
}
.panel-project-summary .form-control-static {
}

.countdown-wrapper ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.countdown-wrapper li {
	display: inline-block;
	padding-left: 5px;
}
.countdown-wrapper li:first-child {
	padding-left: 0;
}
.countdown-wrapper li span.time-units{
	font-size: 10px;
	font-style: italic;
	opacity: 0.8;
}

label.control-label {
	font-size: 85%;
	font-weight: 500;
	font-style: italic;
	display: block;
	padding: 0 0 2px;
    margin: 0 0 2px;
	color: #ababab;	
}

.drop-box {
    background: #F8F8F8;
    border: 3px dashed #DDD;
    text-align: center;
    padding: 25px;
}
.dragover {
    border: 5px dashed blue;
}


.well h3 {
	margin-top: 0;
	margin-bottom: 20px;
}
nav {
	cursor: default;
}
.navbar-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.navbar-sm .navbar-text {
	font-size: 12px;
	margin-top: 14px;
	margin-bottom: 14px;
}
