/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$header-blue:					#141a41;
$navbar-blue:					#154681;
$color-sample2:                  #AAAAAA;

// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;