<div class="modal-header">
	<h3 class="modal-title">Project Stages / Milestones</h3>
</div>
<div class="modal-body">
	<div class="row">

		<div class="col-sm-6">
		
			<label class="control-label">Possible Stages</label>
			<div class="well well-small">
				<ul class="list-unstyled task-list">
					<li ng-repeat="stage in pestag.allStages">
						<button class="btn btn-block btn-sm btn-layer" ng-click="pestag.addStageToProject(stage)" x-dynamic-class-when="pestag.inProject(stage)" x-dynamic-class="btn-primary">{{ stage.name }}</button>
					</li>
				</ul>
			</div>

		</div>
		<div class="col-sm-6">
		
			<label class="control-label">Project Stages</label>
			<div class="well well-small">
				<ul class="list-unstyled task-list">
					<li ng-repeat="stage in pestag.projectStages track by $index">
						<button class="btn btn-block btn-sm btn-layer" ng-click="pestag.removeStageFromProject($index)">{{ stage.name }}</button>
					</li>
					<li ng-if="pestag.projectStages.length === 0" class="small">
						Structure the project by selecting stages on the left.
					</li>
				</ul>
			</div>
		
		</div>

	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="pestag.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="pestag.ok()">Save</button>
</div>
