<div class="modal-header">
	<h3 class="modal-title">Project Components</h3>
</div>
<div class="modal-body">

	<form class="text-right form-group">
		<div class="btn-group">
			<label class="btn btn-default btn-sm" ng-model="filter.active" ng-class="{'btn-primary': filter.active}" ng-click="filter.active = !filter.active">Active</label>
			<label class="btn btn-default btn-sm" ng-model="filter.value" ng-class="{'btn-primary': filter.value}" ng-click="filter.value = !filter.value">Value Component</label>
			<label class="btn btn-default btn-sm" ng-model="filter.inactive" ng-class="{'btn-primary': filter.inactive}" ng-click="filter.inactive = !filter.inactive">Inactive</label>
			<label class="btn btn-default btn-sm" ng-model="filter.other" ng-class="{'btn-primary': filter.other}" ng-click="filter.other = !filter.other">Other</label>
			
		</div>
	</form>

	<table class='table table-condensed'>	
		<thead>
			<tr class="small">
				<th>Component</th>
				<th width="20%">Type</th>
				<th width="15%" class='text-center'>Contents</th>
				<th width="15%" class='text-center'>Requirements</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="component in pecomp.project.components track by $index">
				<td><p class="form-control-static">{{ component.name }}</p></td>
				<td><p class="form-control-static">{{ component.type }}</p></td>
				<td class='text-center'>
					<p class="form-control-static"><a href>{{ component.contents.length }}</a></p>
				</td>
				<td class='text-center'> 
					<p class="form-control-static"><a href>{{ component.requirements.length }} / {{ component.requirements.length }}</a></p>
				</td>
			</tr>
			<tr ng-if="pecomp.project.components.length === 0">
				<td colspan="3" class="text-center">
					<br/>There are no project components defined.  To begin, define <a href x-modal-project-edit-plan-phases x-project="pecomp.project" ng-click="pecomp.ok()">phases</a> and <a href x-modal-project-edit-plan-activities x-project="pecomp.project" ng-click="pecomp.ok()">activities</a> before customizing the components.</p>
				</td>
			</tr>

		</tbody>
	</table>

</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="pecomp.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="pecomp.ok()">Close</button>
</div>
