<div class="modal-header">
	<h3 class="modal-title">Project Phases / Milestones</h3>
</div>
<div class="modal-body">
	<div class="row">

		<div class="col-sm-6">
		
			<label class="control-label">Possible Phases</label>
			<div class="well well-small">
				<ul class="list-unstyled task-list">
					<li ng-repeat="phase in pestag.allPhases">
						<button class="btn btn-block btn-sm btn-layer" ng-click="pestag.addPhaseToProject(phase)" x-dynamic-class-when="pestag.inProject(phase)" x-dynamic-class="btn-primary">{{ phase.name }}</button>
					</li>
				</ul>
			</div>

		</div>
		<div class="col-sm-6">
		
			<label class="control-label">Project Phases</label>
			<div class="well well-small">
				<ul class="list-unstyled task-list">
					<li ng-repeat="phase in pestag.projectPhases track by $index">
						<button class="btn btn-block btn-sm btn-layer" ng-click="pestag.removePhaseFromProject($index)">{{ phase.name }}</button>
					</li>
					<li ng-if="pestag.projectPhases.length === 0" class="small">
						Structure the project by selecting Phases on the left.
					</li>
				</ul>
			</div>
		
		</div>

	</div>

</div>
<div class="modal-footer">
	<div ng-if="pestag.project.phases" class="pull-left small text-left">
		<a href x-modal-project-edit-plan-schedule x-project="pestag.project" ng-click="pestag.ok()">Manage Schedule</a>
	</div>
	<button class="btn btn-warning" type="button" ng-click="pestag.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="pestag.ok()">Close</button>
</div>
