<div class="modal-header">
	<h3 class="modal-title">Project Milestones</h3>
</div>
<div class="modal-body">
	<div class="row">

		<div class="col-sm-6">
		
			<label class="control-label">Possible Milestone</label>
			<div class="well well-sm">
				<ul class="list-unstyled task-list">
					<li ng-repeat="milestone in pestag.allMilestones">
						<button class="btn btn-block btn-sm btn-layer" ng-click="pestag.addMilestoneToProject(milestone)" x-dynamic-class-when="pestag.inProject(milestone)" x-dynamic-class="btn-primary">{{ milestone.name }}</button>
					</li>
				</ul>
			</div>

		</div>
		<div class="col-sm-6">
		
			<label class="control-label">Project Milestone</label>
			<div class="well well-sm">
				<ul class="list-unstyled task-list">
					<li ng-repeat="milestone in pestag.projectMilestones track by $index">
						<button class="btn btn-block btn-sm btn-layer" ng-click="pestag.removeMilestoneFromProject($index)">{{ milestone.name }}</button>
					</li>
					<li ng-if="pestag.projectMilestones.length === 0" class="small">
						Structure the project by selecting Milestones on the left.
					</li>
				</ul>
			</div>
		
		</div>

	</div>

</div>
<div class="modal-footer">
	<div ng-if="pestag.project.milestones" class="pull-left small text-left">
		<a href x-modal-project-edit-plan-schedule x-project="pestag.project" ng-click="pestag.ok()">Manage Schedule</a>
	</div>
	<button class="btn btn-warning" type="button" ng-click="pestag.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="pestag.ok()">Close</button>
</div>
