<div class="modal-header">
	<h3 class="modal-title">Project Activities</h3>
</div>
<div class="modal-body">

	<form class="form-inline text-right">
		<div class="form-group">
			<label for="selectPhase" class="control-label">Project Phase</label>
			<select ng-options="phase as phase.name for phase in peact.project.phases" ng-model="form.phase" class="form-control"></select>
		</div>
	</form>

	<table class='table table-condensed'>	
		<thead>
			<tr class="small">
				<th width="30%">Activity</th>
				<th width="20%" class='text-center'>Tasks</th>
				<th width="50%" class='text-center'>Access</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="activity in peact.project.phases[ _.indexOf(peact.project.phases, form.phase) ].activities track by $index">
				<td><p class="form-control-static">{{ activity.name }}</p></td>
				<td class='text-center'>
					<p class="form-control-static"><a href>{{ activity.tasks.length }}</a></p>
				</td>
				<td class='text-center'> 
					<p class="form-control-static btn-list">

						<roles-select x-selected-roles="activity.access"></role-select>
						
					</p>
				</td>
			</tr>
			<tr ng-if="!form.phase">
				<td colspan="3" class="text-center">
					<br/>Select a Project Phase.
				</td>
			</tr>

		</tbody>
	</table>

</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="peact.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="peact.ok()">Close</button>
</div>
