<section>
	<div class="row">
		<div class="col-sm-6">
			<div class='panel panel-default panel-project-summary' x-expand-panel='pts.tombstone'>

				<div class='panel-body' ng-if="!pts.tombstone">
					<div class='row project-small-tombstone'>

						<div class='col-sm-3'>
							<div><label class="control-label">Type</label><p>{{ pts.project.type }}</p></div>
						</div>
		
						<div class='col-sm-3'>
							<div><label class="control-label">Location</label><p>{{ pts.project.region }}</p></div>
						</div>

						<div class='col-sm-3'>
							<div><label class="control-label">Current Stage</label><p x-stage-colour x-stage="pts.project.stage">{{ pts.project.stage }}</p></div>
						</div>

						<div class='col-sm=3'>
							<div><label class="control-label">Estimated Stage Completion</label><p>{{ pts.project.estimatedStageCompleteDate | amDateFormat:'MMM Do YYYY' }}</p></div>
						</div>
						
					</div> 
				</div><!-- /project-info-small -->

				<div class='panel-body' ng-if="pts.tombstone">
					<div class='row'>
						<div class='col-sm-3'>
							<div><label class="control-label">Type</label><p>{{ pts.project.type }}</p></div>
							<div><label class="control-label">Location</label><p>{{ pts.project.region }}</p></div>
							<div><label class="control-label">Current Stage</label><p x-stage-colour x-stage="pts.project.stage">{{ pts.project.stage }}</p></div>
							<div><label class="control-label">Estimated Stage Completion</label><p>{{ pts.project.estimatedStageCompleteDate | amDateFormat:'MMM Do YYYY' }}</p></div>
							<div><label class="control-label">Next Stage</label><p x-stage-colour x-stage="pts.project.nextStage">{{ pts.project.nextStage }}</p></div>
						</div>

						<div class='col-sm-6'>
							<div><label class="control-label">Description</label><p>{{ pts.project.description }}</p></div>
							<div><small><a href><span class='glyphicon glyphicon-file'></span> Comprehensive Project Description</a></small></div>
						</div>

						<div class='col-sm-3'>
							<tmpl-progress-circle x-subtext="estimated progress" x-percentage="pts.project.progress" x-max-width="200"></tmpl-progress-circle>
						</div>
					</div>
				</div><!--  /project-info-large -->
			</div><!--  /panel -->


		</div> <!-- /col-sm-6 -->

		<div class="col-sm-3">
			<div class='panel panel-default panel-project-summary'>

				<div class='panel-body' ng-if="!pts.tombstone">
					<div class='row project-small-tombstone'>
					
						<div class='col-sm-6'>
							<label class="control-label">Overall Progress</label>
							<tmpl-progress-bar x-percentage="pts.project.progress"></tmpl-progress-bar>
						</div>
		
						<div class='col-sm-6'>
							<label class="control-label">Stage Progress</label>
							<tmpl-progress-bar x-percentage="pts.project.progress"></tmpl-progress-bar>
						</div>					
					
					</div>
				</div>

				<div class='panel-body' ng-if="pts.tombstone">
					Current Stage Progress Full with Control
				</div>

			</div> <!-- /col3 performance indicators -->
		</div>
	
		<div class="col-sm-3">
			<div class='panel panel-default panel-project-summary'>

				<div class='panel-body' ng-if="!pts.tombstone">
					<p><a href x-modal-manage-activities	x-project="pts.project"><span class='glyphicon glyphicon-tasks'></span> Manage Activities / Components</a></p>
					<a href x-modal-manage-documents		x-project="pts.project"><span class='glyphicon glyphicon-file'></span> Documents</a>
				</div>

				<div class='panel-body' ng-if="pts.tombstone">

					<p><a href x-modal-eao-project-edit		x-project="pts.project"><span class='glyphicon glyphicon-pencil'></span> Edit Project</a></p>
					<p><a href x-modal-eao-access			x-project="pts.project"><span class='glyphicon glyphicon-user'></span> Manage Access</a></p>
					<hr>
					<p><a href x-modal-manage-milestones	x-project="pts.project"><span class='glyphicon glyphicon-certificate'></span> Manage Milestones</a></p>
					<p><a href x-modal-manage-schedule 		x-project="pts.project"><span class='glyphicon glyphicon-calendar'></span> Manage Schedule</a></p>
					<p><a href x-modal-manage-activities	x-project="pts.project"><span class='glyphicon glyphicon-tasks'></span> Manage Activities / Components</a></p>
					<hr>
					<p><a href x-modal-manage-documents		x-project="pts.project"><span class='glyphicon glyphicon-file'></span> Documents</a></p>
					<p><a href x-modal-manage-Reports		x-project="pts.project"><span class='glyphicon glyphicon-signal'></span> Reports</a></p>
					<hr>
					<a href x-modal-view-spatially 			x-project="pts.project"><span class='glyphicon glyphicon-globe'></span> View Spatially</a>

				</div>


			</div>
		</div> <!-- /col3 menu  -->
	
	</div>




</section>
