<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<label for="title" class="control-label">Project Name</label>
			<input id="title" type="text" class="form-control input-sm" ng-model="projectEntryTS.project.name">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label for="type" class="control-label">Type</label>
			<select ng-model='projectEntryTS.project.type' class="form-control input-sm" ng-options="type as type for type in projectEntryTS.types"></select>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<label for="shortDesc" class="control-label">Short Description</label>
			<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="projectEntryTS.project.description"></textarea>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<label for="location" class="control-label">Location Description</label>
			<input id="location" type="text" class="form-control input-sm" ng-model="projectEntryTS.project.location">
		</div>
	</div>
</div>

<hr/>

<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<label for="proponent" class="control-label">Proponent</label>
			<input id="proponent" type="text" class="form-control input-sm" ng-model="projectEntryTS.project.proponent.name">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="contact" class="control-label">Contact Name</label>
			<input id="contact" type="text" class="form-control input-sm" ng-model="projectEntryTS.project.proponent.contact.name">
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group">
			<label for="contactTitle" class="control-label">Title</label>
			<input id="contactTitle" type="text" class="form-control input-sm" ng-model="projectEntryTS.project.proponent.contact.title">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="form-group">
			<label for="contact" class="control-label">Email</label>
			<input id="contact" type="email" class="form-control input-sm" ng-model="projectEntryTS.project.proponent.contact.email">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label for="contactTitle" class="control-label">Phone</label>
			<input id="contactTitle" type="tel" class="form-control input-sm" ng-model="projectEntryTS.project.proponent.contact.phone">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label for="website" class="control-label">Website</label>
			<input id="website" type="text" class="form-control input-sm" ng-model="projectEntryTS.project.proponent.website">
		</div>
	</div>
</div>

